# Notebook 6.4: Pandas

Pandas is a library for working with `DataFrames`. This is yet another type of object to learn in Python, but it is also a very intuitive data structure and is closely connected to `numpy`'s ndarray objects, which makes it easier to learn. Essentially, you can think of pandas DataFrames as a pretty wrapper around an array object, that add column and row names and allow you to access elements by names instead of only by indices. 

https://pandas.pydata.org/pandas-docs/stable/dsintro.html

### Required software

In [190]:
# conda install numpy
# conda install pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
# let's define some ndarrays
arr0 = np.zeros(10)
arr1 = np.ones(10)
arr2 = np.arange(10)
arr3 = np.array(list("abcdefghij"))

### 1-dimensional Series objects
The first datatype in pandas are `Series`. These are simply 1-dimensional arrays with the option of attaching a name to them. Series objects will display the dtype of the object as well as the `index` to the left of it. You will notice that the argument for entering a name is `name`, not `names`, this is because Series are 1-dimensional and thus should only have a single column name.

In [3]:
pd.Series(data=arr0, name='arr0')

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: arr0, dtype: float64

In [4]:
pd.Series(np.random.randint(0, 10, 5), index=['a', 'b', 'c', 'd', 'e'])

a    3
b    5
c    5
d    1
e    7
dtype: int32

In [5]:
# you can use a dict to set the index
ddict = {'a': 3, 'b': 4, 'c': 5}
pd.Series(ddict)

a    3
b    4
c    5
dtype: int64

In [6]:
# but don't do this: there is only one element at is a long array, 
# instead of each element of the array being given an index
pd.Series(data={'arr1': arr1})

arr1    [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
dtype: object

In [7]:
# instead you want to do this for an array
pd.Series(data=arr0, name='arr1')

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: arr1, dtype: float64

### A series can be indexed like an ndarray
and it can be indexed like a Python dictionary using the `index` as a key.

In [8]:
# create a Series
ddict = {'a': 3, 'b': 4, 'c': 5, 'd':10, 'e': 40}
data = pd.Series(ddict)

In [9]:
# select Series by index
print(data[1:3])

b    4
c    5
dtype: int64

In [10]:
# select Series by name like a dict
print(data['a'])

3

In [11]:
# select Series by name like an object
print(data.e)

40

## 2-dimensional DataFrame objects
Here unlike Series objects we can set multiple column names, for which we use the argument `columns`. There are several ways to create a DataFrame, using dictionaries, ndarrays, Series, but the simplest way is definitely using dictionaries.

In [12]:
pd.DataFrame(arr0, columns=['arr0'])

   arr0
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0
5   0.0
6   0.0
7   0.0
8   0.0
9   0.0

In [13]:
pd.DataFrame({'arr0': arr0, 'arr1': arr1})

   arr0  arr1
0   0.0   1.0
1   0.0   1.0
2   0.0   1.0
3   0.0   1.0
4   0.0   1.0
5   0.0   1.0
6   0.0   1.0
7   0.0   1.0
8   0.0   1.0
9   0.0   1.0

In [14]:
pd.DataFrame(
    data=[
        pd.Series(arr0, name='arr0'),
        pd.Series(arr1, name='arr1'),
    ])

        0    1    2    3    4    5    6    7    8    9
arr0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
arr1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

In [15]:
pd.DataFrame(
    data=[arr0, arr1, arr2], 
    index=['arr0', 'arr1', 'arr2'],
    )

        0    1    2    3    4    5    6    7    8    9
arr0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
arr1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
arr2  0.0  1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0

In [16]:
### Transpose a dataframe (.T)
pd.DataFrame(
    data=[arr0, arr1, arr2], 
    index=['arr0', 'arr1', 'arr2'],
    ).T

   arr0  arr1  arr2
0   0.0   1.0   0.0
1   0.0   1.0   1.0
2   0.0   1.0   2.0
3   0.0   1.0   3.0
4   0.0   1.0   4.0
5   0.0   1.0   5.0
6   0.0   1.0   6.0
7   0.0   1.0   7.0
8   0.0   1.0   8.0
9   0.0   1.0   9.0

### Parsing CSV files
This is one of the best uses of pandas, and is your magic replacement for ever having to open an excel spreadsheet again. Pandas has a super flexible framework for reading in data tables that are stored in a wide variety of formats. The most commonly used format for storing data tables is CSV, which stands for comma-separated values. We've seen this type of file before when we were working with the iris data set in our first few lessons. Other common types include TSV (tab separated values), and XLS which is the proprietary formal of microsoft excel. In general, for storing data that you want other to *use* and not just look at, CSV or TSV is much preferred to XLS.

In [17]:
# load a CSV file by reading it straight from a url
data = pd.read_csv(
    "http://eaton-lab.org/data/iris-data-dirty.csv", 
    header=None) 
data.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [18]:
# set new column names
data.columns=["trait1", "trait2", "trait3", "trait4", "label"]
data.head()

   trait1  trait2  trait3  trait4        label
0     5.1     3.5     1.4     0.2  Iris-setosa
1     4.9     3.0     1.4     0.2  Iris-setosa
2     4.7     3.2     1.3     0.2  Iris-setosa
3     4.6     3.1     1.5     0.2  Iris-setosa
4     5.0     3.6     1.4     0.2  Iris-setosa

In [19]:
# save as a CSV file
data.to_csv("iris-data-dirty.csv")

In [20]:
# open it again by parsing the CSV file on disk this time
data = pd.read_csv("iris-data-dirty.csv", index_col=0)
data.head()

   trait1  trait2  trait3  trait4        label
0     5.1     3.5     1.4     0.2  Iris-setosa
1     4.9     3.0     1.4     0.2  Iris-setosa
2     4.7     3.2     1.3     0.2  Iris-setosa
3     4.6     3.1     1.5     0.2  Iris-setosa
4     5.0     3.6     1.4     0.2  Iris-setosa

### Operate on the DataFrame

In [21]:
# find mispelled names with unique
print(data.label.unique())

['Iris-setosa' 'Iris-setsa' 'Iris-versicolour' 'Iris-versicolor'
 'Iris-virginica']

In [22]:
# RETURNS a modified COPY
data2 = data.replace("Iris-setsa", "Iris-setosa")\
            .replace("Iris-versicolour", "Iris-versicolor")

In [23]:
# Modifies in place (less desirable, can't chain functions)
data.replace("Iris-setsa", "Iris-setosa", inplace=True)
data.replace("Iris-versicolour", "Iris-versicolor", inplace=True)

In [24]:
# return a formatted table of a calculation
pd.DataFrame(
    {"trait1": pd.Series(
        {"mean": data.trait1.mean(), 
         "std": data.trait1.std()}), 
     "trait2": pd.Series(
        {"mean": data.trait2.mean(), 
         "std": data.trait2.std()})})

        trait1    trait2
mean  5.843333  3.058108
std   0.828066  0.434094

In [25]:
data.columns

Index(['trait1', 'trait2', 'trait3', 'trait4', 'label'], dtype='object')

In [26]:
pd.DataFrame({"mean": data.mean(), "std": data.std()})

            mean       std
trait1  5.843333  0.828066
trait2  3.058108  0.434094
trait3  3.758667  1.764420
trait4  1.198667  0.763161

In [27]:
# builtin stats summary method 
data.describe()

           trait1      trait2      trait3      trait4
count  150.000000  148.000000  150.000000  150.000000
mean     5.843333    3.058108    3.758667    1.198667
std      0.828066    0.434094    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

### So much more
Pandas is a very powerful library, and your reading introduces a huge range of ways to use it. We'll continue using pandas and numpy very extensively in the coming weeks, so make sure you have a good grasp of their basics (how to index, slice, and access views of these objects) and some idea of their larger capabilities (reading in tables, calculating statistics, performing operations across axes).